
h1 {
	color: rgb(113,63,210); 
	text-align: center; 
	font-size: 50px;
	}
p {
	color: rgb(210,64,210); 
	text-align: center;
	}
h3 {
	color: blue;
	text-align: center;
	font-size: 15px;
	}
			